#add-event-form{
    display: flex;
    flex-direction: column;
    width: 70dvh;
    height: 70dvw;
    align-items: start;
    
}

#add-event-form > input{
    background: transparent;
    border: none;
    border-bottom: 1px white solid;
    color: white;
    margin-bottom: .5rem;
}

#add-event-form > input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#add-event-form > input::placeholder{
    font-style: italic;
}

#tag-selectors{
    display: flex;
    margin-top: .5rem;
}

#social-checkbox {
    background-color:var(--social-tag-color);
}
#outdoor-checkbox {
    background-color:var(--outdoor-tag-color);
}
#sports-checkbox {
    background-color:var(--sports-tag-color);
}
#movies-checkbox {
    background-color:var(--movies-tag-color);
}
#gaming-checkbox {
    background-color:var(--gaming-tag-color);
}
#food-checkbox {
    background-color:var(--food-tag-color);
}
#art-checkbox {
    background-color:var(--art-tag-color);
}

.tag-checkbox{
    margin-right: 1rem;
    padding: .2rem;
    border-radius: .3rem;
}