.card-container {

    display:flex;
    flex-direction:column;
    text-align:left;
    width:20vw;
    height:20vw;
    background-color:#D14C4C;
    border-radius:1rem;
}
.card-banner {
    height:40%;
}
.card-img {
    height:100%;
    width:100%;
    object-fit:cover;  
    border-radius: 1rem 1rem  0 0;
}
.card-details {
    padding:1rem;
    padding-top:.8rem;
    height: 100%;
}

.card-title {
    font-size:1rem;
}
.tags {
    margin-top:1rem;
    display:flex;
    overflow: scroll;
    scrollbar-width: none;
    width:auto;
}
.tag {
    margin-right:1rem;
    padding:.2rem;
    border-radius:.5rem;
}
.social-tag {
    background-color:var(--social-tag-color);
}
.outdoor-tag {
    background-color:var(--outdoor-tag-color);
}
.sports-tag {
    background-color:var(--sports-tag-color);
}
.movies-tag {
    background-color:var(--movies-tag-color);
}
.gaming-tag {
    background-color:var(--gaming-tag-color);
}
.food-tag {
    background-color:var(--food-tag-color);
}
.art-tag {
    background-color:var(--art-tag-color);
}
.card-username {
    margin:0 1rem 1rem 1rem;
}
p {
    margin:.1rem;
}
h1 {
    margin:0;
}