#tabs-container {
    display:flex;
    align-items:center;
    flex-direction: column;
}
#tabs {
    border:1px solid white;
    display:flex;
    font-size:1rem;
    background-color: transparent;
    width:10vw;
    border-radius:.5rem;
}

#hosting-tab {
    border-right:1px solid white;
    padding:.2rem;
    width:50%;
    text-align:center;
}
#attending-tab {
    padding:.2rem;
    width:50%;
    text-align:center;
}

.clicked {
    background-color:#990304;
}